* {
    box-sizing: border-box;
}

body {
    margin: 0;
    overflow: hidden;

    font-family: Arial, sans-serif;

    background: #111827;

    color: white;
}

#ui {

    position: fixed;

    z-index: 10;

    top: 10px;

    left: 50%;

    transform: translateX(-50%);

    width: 94%;

    max-width: 500px;

    background: rgba(0, 0, 0, 0.75);

    padding: 15px;

    border-radius: 18px;

    text-align: center;
}

h1 {
    font-size: 23px;
    margin: 3px 0 8px;
}

button {

    width: 100%;

    padding: 12px;

    margin-top: 8px;

    border: none;

    border-radius: 10px;

    background: #2563eb;

    color: white;

    font-size: 16px;

    font-weight: bold;
}

input {

    width: 100%;

    padding: 12px;

    margin-top: 8px;

    border-radius: 10px;

    border: none;

    font-size: 18px;

    text-align: center;
}

#sequence {

    font-size: 27px;

    font-weight: bold;

    letter-spacing: 6px;

    min-height: 35px;
}

#result {

    font-size: 17px;

    font-weight: bold;
}

a-scene {

    position: fixed;

    top: 0;

    left: 0;

    width: 100vw;

    height: 100vh;
}